body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.details {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.flex-div {
    width: 50%;
    padding-left: 6%;
}

h1 {
    font-size: 50px;
}

.orange {
    color: #FFA501;
}

.hire-btn {
    font-size: 18px;
    color: #fff;
    background-color: #FFA501;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
}

.content_img img {
    width: 100%;
}

.dream {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.p-r {
    padding-right: 6%;
}

.expe {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.ex-tittle {
    padding-left: 6%;
}

.xm {
    display: flex;
}

/* .e-item {
    border: 1px solid #000;
} */

.foter-p {
    text-align: center;
    text-transform: capitalize;
}